#content {margin-top:100px;}
.navbar-right{margin-top:12px;}
.center{text-align:center;}
.alert{padding:5px;margin:20px 0 0 0;}
.file{padding:5px;margin:10px 0;}
.badge-success{background-color:#5cb85c;}
.file:hover{background-color:#f5f5f5;}
.file-link{color:#3c3c3c;}
.btn-delete{margin-top:3px;}
small{font-size:11px;}
.well{background:#f5f5f5;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {font-weight: bold;background:#f5f5f5;color:#337ab7;}